* {
  box-sizing: border-box;
}
body {
  background-color: #2c3333;
}
button {
  cursor: pointer;
}
.title {
  margin-bottom: 5px;
  color: white;
}

#card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #3f4e4f;
  cursor: pointer;
}
#card:active {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}
.header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.content {
  display: flex;
  flex-direction: column;
  max-height: 530px;
  overflow: auto;
  gap: 10px;
  color: white;
}
.credits-text {
  font-size: 0.6em;
  margin-top: 0;
}

#author-btn {
  font-size: 0.8em;
  margin-left: 2px;
}

.uk-card-title {
  color: white;
}

.card-description {
  padding: 10px;
  background-color: #2c3639;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.navigation-head {
  gap: 5px;
}
.card-info {
  align-items: center;
}

#bg-input {
  display: none;
  background-color: rgba(0, 0, 0, 0.6);
  align-items: center;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: white;
}

::-webkit-scrollbar-thumb {
  background: #3f4e4f;
}
.container-content {
  display: none;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.6);
}

.content-card {
  align-items: end;
  width: 90%;
  height: 80%;
}
.text-white {
  color: white;
}
