* {
  box-sizing: border-box;
}
body {
  background-color: #2c3333;
}
button {
  cursor: pointer;
}
.title {
  margin-bottom: 5px;
  color: white;
}

#card {
  background-color: #3f4e4f;
  cursor: pointer;
}
#card:active {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.content {
  display: grid;
  max-height: 530px;
  overflow: auto;
  gap: 10px;
  grid-template-rows: auto auto;
  grid-template-columns: 49% 49%;
  color: white;
}
.credits-text {
  font-size: 0.6em;
  margin-top: 0;
}

#author-btn {
  font-size: 0.8em;
  margin-left: 2px;
}

.uk-card-title {
  color: white;
}

.card-description {
  padding: 10px;
  background-color: #2c3639;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.card-info {
  align-items: center;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: white;
}

::-webkit-scrollbar-thumb {
  background: #3f4e4f;
}
